# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs e SOs
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
